.slider_names {
    /* position:relative;
    top:15px;
    left:15px; */
    text-align: right;
    font-size:10px;
    font-weight:500;
    color:#959595;
    text-transform:uppercase;
    letter-spacing:0.5px;
    padding:0px;
}
