*.DS_Store
*.pyc
*.egg*
venv*
dso/dso/summary*
*log_*
.ipynb_checkpoints
~$*
*.vscode/
dso/build
dso/dso/cyfunc*
**/log/
/tmp
/demo-web/user
/demo-web/static/image/user/
*videos
*bsub
dep-repos/
.*
!/.gitignore
