<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    <meta name="author" content="htvai">
    <meta name="description" content="Visualization of deep symbolic regression">
    <!-- <link rel="icon" href=""> -->
	
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="static/css/custom.css"> -->
    <stype>
        body {
            padding-top: 75px;
        }
        @media (max-width: 980px) {
          body {
            padding-top: 150px;
          }
    </stype>

	<title>Deep Symbolic Regression</title>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container bg-dark">
            <a class="navbar-brand" href="#">DSR</a>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blank">Blank</a>
                </li>
            </ul>
        </div>
    </nav>

      
    <div class="container" style="text-align: center">	
        <div class="page-header">
                    <h3>Deep Symbolic Regression</h3>
                </div>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                
            </div>

            <div class="col-xs-8 col-md-5">
                <p class="bg-info">
                    Plot expression
                </p>
            </div>
            
            <div class="col-xs-8 col-md-4">
                <p class="bg-warning">
                    Plot training info
                </p> 
            </div>
            
        </div>


        
            <!-- footer -->
            <footer class="footer" style="margin-top: 30px; text-align: right">
            <div class="container">
                <p class="text-muted">2020 International Joint Conference on Artificial Intelligence::Demonstrations Track</p>
            </div>
            </footer>

    </div>
    
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
</body>
</html>