<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    <meta name="author" content="htvai">
    <meta name="description" content="Visualization of deep symbolic regression">
    <link rel="icon" type="image/png" sizes="16x16" href="static/image/favicon-16x16.png">
	
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/dsr.css">
    <script type="text/javascript" src="static/js/plotly-1.53.0.min.js"></script>

    <stype>
        body {
            padding-top: 75px;
        }
        @media (max-width: 980px) {
          body {
            padding-top: 150px;
          }
    </stype>

	<title>Deep Symbolic Regression</title>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container bg-dark">
            <a class="navbar-brand" href="#">DSR</a>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blank">Blank</a>
                </li>
            </ul>
        </div>
    </nav>

      
    <div class="container-fluid"">	
        <div class="page-header">
            <h3>Deep Symbolic Regression</h3>
        </div>

        <div class="row">
            <!--Left panel: Control-->
            <div class="col-xs-12 col-md-2">
                <!-- <div class="panel panel-default"> -->
                        <!-- <div class="panel-body"> -->
                            <div class="table">
                                <div class= "btn-group btn-group-justified" role="group">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default" id="btn_start">
                                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                            START 
                                        </button>
                                    </div>
                                    <div class="btn-group" role="group" style="display: none;">
                                        <button type="button" class="btn btn-default" id="btn_stop">
                                            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                                            STOP 
                                        </button>
                                    </div>
                                    <div class="btn-group" role="group" style="display: none;">
                                        <button type="button" class="btn btn-default" id="btn_pause">
                                            <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                                            PAUSE 
                                        </button>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default" id="btn_step">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            STEP
                                        </button>
                                    </div>
                                </div>
                            </div>
                    <!-- </div> -->
                <!-- </div> -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Control</h3>
                    </div>
                    <div class="panel-body">
                        <!--control-->
                        <!--upload-->
                        <label for="uploadDataFile">Data</label>
                        <form class="form-inline" action="/data_points" method="post">
                            <div class="form-group">
                                <input type="file" class="form-control-file col-md-9" id="uploadDataFile">
                                <button type="submit" class="btn btn-primary btn-xs col-md-3" id="btn_data">Upload</button>
                            </div>
                        </form>
                        <div class="alert alert-warning" style="margin-bottom: 5px">
                            <span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Click here to use our dataset!
                        </div>
                        <!--TODO: Validate uploaded dataset, send back info, e.g., # variables, range, # datapoints, etc.-->
                        <!--TODO: plot training data points (scatter marker)-->
                    <!-- </div>
                    <div class="panel-body"> -->
                        <!--operators-->
                        <div id="operators">
                            <label>Operators</label>
                            <div class="btn-group btn-group-justified" role="group">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default btn-sm active">Add</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default btn-sm active">Sub</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default btn-sm">Mul</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default btn-sm">Div</button>
                                </div>
                            </div>
                            <div class="btn-group btn-group-justified" role="group">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default btn-sm">Sin</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default btn-sm">Cos</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default btn-sm">Log</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default btn-sm active">Exp</button>
                                </div>
                            </div>
                        </div>

                        <!--sliders-->
                        <div id="sliders" style="margin-top:7px;">
                            <label>Hyperparameters</label>
                            <form class="form-inline" sytpe="margin-bottom:5px;">
                                <div class="form-group">
                                    <input type="file" class="form-control-file col-md-10" id="uploadConfig" accept=".json">
                                    <button type="submit" class="btn btn-primary btn-xs col-md-2" id="btn_config">Set</button>
                                </div>
                            </form>
                            <div class="row">
                                <label class="col-md-3 slider_names">Batch Size</label>
                                <div class="col-md-7">
                                    <input type="range" id="batch_size" min="50" max="200" value="64" step="20">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-3 slider_names">Learning Rate</label>
                                <div class="col-md-7">
                                    <input type="range" id="batch_size" min="50" max="200" value="64" step="20">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-3 slider_names">Exploration</label>
                                <div class="col-md-7">
                                    <input type="range" id="batch_size" min="50" max="200" value="64" step="20">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-3 slider_names">Risk Factor</label>
                                <div class="col-md-7">
                                    <input type="range" id="batch_size" min="50" max="200" value="64" step="20">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-3 slider_names">Max Length</label>
                                <div class="col-md-7">
                                    <input type="range" id="batch_size" min="50" max="200" value="64" step="20">
                                </div>
                            </div>
                            <!-- TODO: Show selected number on the right, as a text input -->
                            <!-- TODO: Remove margin of sliders -->
                            <!-- TODO: better w/ table? -->
                            <!-- mouse over, explain what each term means -->


                        </div>
                    </div>
                </div>
            </div>

            <!--Middle panel: Visualization (Main plot)-->
            <div class="col-xs-12 col-md-6">
                <div id="main_plot" class="col-xs-12 col-md-12">
                </div>
                <table id="table_exprs" class="table table-hover">
                    <thead>

                        <tr>
                            <th>
                                <input type="checkbox" id="checkAll">
                                <label class="form-check-label" for="checkAll">#</label>
                            </th>
                            <th>Expression</th>
                            <th>Fitness</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" id="checkExpr1">
                                <label class="form-check-label" for="checkExpr1">1</label>
                            </td>
                            <td>sin(x*2)</td>
                            <td>0.7</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <!--Right panel: Diagnostics-->
            <div class="col-xs-12 col-md-4">
                <p class="bg-warning">
                    Plot training info
                </p> 
                <!--extendTraces-->
            </div>
            
        </div>


        
            <!-- footer -->
            <footer class="footer" style="margin-top: 30px; text-align: right">
            <div class="container-fluid">
                <p class="text-muted">2020 International Joint Conference on Artificial Intelligence::Demonstrations Track</p>
            </div>
            </footer>

    </div>
    
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script type="text/javascript" src="static/js/dsr.js"></script>
</body>
</html>

<!-- TODO: separate templates -->
<!-- TODO: make plotly size responsive -->