<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    <meta name="author" content="htvai">
    <meta name="description" content="Visualization of deep symbolic regression">
    <link rel="icon" type="image/png" sizes="16x16" href="static/image/favicon-16x16.png">
	
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/dsr.css">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap" rel="stylesheet"> -->
    <script type="text/javascript" src="static/js/plotly-1.53.0.min.js"></script>

    <stype>
        body {
            padding-top: 75px;
        }
        @media (max-width: 980px) {
          body {
            padding-top: 150px;
          }
    </stype>

	<title>Deep Symbolic Regression</title>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container bg-dark">
            <a class="navbar-brand" href="#">DSR</a>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blank">Blank</a>
                </li>
            </ul>
        </div>
    </nav>

      
    <div class="container-fluid"">	
        <div class="page-header">
            <h3>Deep Symbolic Regression</h3>
        </div>

        <div class="row">
            <!--Left panel: Control-->
            <div class="col-xs-12 col-md-2" style="padding-right: 0%;">
                <!-- <div class="panel panel-default"> -->
                        <!-- <div class="panel-body"> -->
                            <div class="table">
                                <div class= "btn-group btn-group-justified" role="group">
                                    <div class="btn-group" role="group" style="display: none;">
                                        <button type="button" class="btn btn-default play-button" id="btn_stop">
                                            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                                            STOP 
                                        </button>
                                    </div>
                                    <div class="btn-group" role="group" style="display: none;">
                                        <button type="button" class="btn btn-default play-button" id="btn_pause">
                                            <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                                            PAUSE 
                                        </button>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default play-button" id="btn_start">
                                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                            START 
                                        </button>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default play-button" id="btn_step" data-toggle="tooltip" data-placement="top" title="Find next best!">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            STEP
                                        </button>
                                    </div>
                                </div>
                            </div>
                    <!-- </div> -->
                <!-- </div> -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Control</h3>
                    </div>
                    <div class="list-group">
                        <!--control-->
                        <!--upload-->
                        <div id="upload" class="list-group-item">
                            <label for="uploadDataFile">Data</label>
                            <form class="form-inline" action="/data_points" method="post">
                                <div class="form-group">
                                    <input type="file" class="form-control-file col-md-12 control-file" id="uploadDataFile">
                                    <button type="submit" class="btn btn-primary btn-xs col-md-12 control-button" id="btn_data" style="margin-top: 1%;">Upload</button>
                                </div>
                            </form>
                            <!-- <div class="alert alert-warning" style="margin-bottom: 5px">
                                <span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Click here to use our dataset!
                            </div> -->
                            <!--TODO: Validate uploaded dataset, send back info, e.g., # variables, range, # datapoints, etc.-->
                            <!--TODO: plot training data points (scatter marker)-->
                        </div>
                        <!-- <div class="panel-body"> -->

                        <!--operators-->
                        <div id="operators" class="list-group-item">
                                <label>Operators</label>
                                <div class="btn-group btn-group-justified" role="group">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default btn-sm active">Add</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default btn-sm active">Sub</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default btn-sm">Mul</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default btn-sm">Div</button>
                                </div>
                            </div>
                            <div class="btn-group btn-group-justified" role="group">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default btn-sm">Sin</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default btn-sm">Cos</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default btn-sm">Log</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default btn-sm active">Exp</button>
                                </div>
                            </div>
                        </div>

                        <!--sliders-->
                        <div id="sliders" class="list-group-item">
                            <label>Hyperparameters</label>
                            <div class="form-group">
                                <form class="form-inline" style="margin-top:5px; margin-bottom:5px;">
                                    <div class="form-group">
                                        <input type="file" class="form-control-file col-md-12 control-file" id="uploadConfig" accept=".json">
                                    </div>
                                </form>
                                <!-- <div class="row">
                                    <label class="col-md-3 slider-name">Batch Size</label>
                                    <div class="col-md-7">
                                        <input type="range" id="batch_size" class="slider" min="50" max="200" value="64" step="20">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-3 slider-name">Learning Rate</label>
                                    <div class="col-md-7">
                                        <input type="range" id="batch_size" class="slider" min="50" max="200" value="64" step="20">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-3 slider-name">Entropy weight</label>
                                    <div class="col-md-7">
                                        <input type="range" id="batch_size" class="slider" min="50" max="200" value="64" step="20">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-3 slider-name">Risk Factor</label>
                                    <div class="col-md-7">
                                        <input type="range" id="batch_size" class="slider" min="50" max="200" value="64" step="20">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-3 slider-name">Max Length</label>
                                    <div class="col-md-7">
                                        <input type="range" id="batch_size" class="slider" min="50" max="200" value="64" step="20">
                                    </div>
                                </div> -->
                                <!-- <label class="col-md-12 slider-name">Batch Size</label>
                                <div class="col-md-9">
                                    <input type="range" id="batchSize" class="slider" min="50" max="200" value="64" step="20">
                                </div>
                                <label class="col-md-12 slider-name">Learning Rate</label>
                                <div class="col-md-9">
                                    <input type="range" id="learningRate" class="slider" min="50" max="200" value="64" step="20">
                                </div>
                                <label class="col-md-12 slider-name">Entropy weight</label>
                                <div class="col-md-9">
                                    <input type="range" id="entropyWeight" class="slider" min="50" max="200" value="64" step="20">
                                </div>
                                <label class="col-md-12 slider-name">Risk Factor</label>
                                <div class="col-md-9">
                                    <input type="range" id="riskFactor" class="slider" min="50" max="200" value="64" step="20">
                                </div>
                                <label class="col-md-12 slider-name">Max Length</label>
                                <div class="col-md-9">
                                    <input type="range" id="maxLength" class="slider" min="50" max="200" value="64" step="20">
                                </div> -->
                                <table id="tableSliders" class="table table-condensed table-hover">
                                    <colgroup>
                                        <col span="1" style="width: 15%;">
                                        <col span="1" style="width: 70%;">
                                        <col span="1" style="width: 20%;">
                                    </colgroup>
                                    <tbody>

                                    <tr>
                                        <td class="slider-name">
                                            <label class="col-md-1 slider-name">Batch Size</label>
                                        </td>
                                        <td>
                                            <input type="range" id="batchSize" class="slider" min="50" max="200" value="64" step="20">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="slider-name">
                                            <label class="col-md-1 slider-name">Learning Rate</label>
                                        </td>
                                        <td>
                                            <input type="range" id="learningRate" class="slider" min="50" max="200" value="64" step="20">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="slider-name">
                                            <label class="col-md-1 slider-name">Entropy weight</label>
                                        </td>
                                        <td>
                                            <input type="range" id="entropyWeight" class="slider" min="50" max="200" value="64" step="20">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="slider-name">
                                            <label class="col-md-1 slider-name">Risk Factor</label>
                                        </td>
                                        <td>
                                            <input type="range" id="riskFactor" class="slider" min="50" max="200" value="64" step="20">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="slider-name">
                                            <label class="col-md-1 slider-name">Max Length</label>
                                        </td>
                                        <td>
                                            <input type="range" id="maxLength" class="slider" min="50" max="200" value="64" step="20">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm" placeholder="">
                                        </td>
                                    </tr>
                                </tbody>
                                </table>
                                <!-- TODO: Show selected number on the right, as a text input -->
                                <!-- TODO: Remove margin of sliders -->
                                <!-- TODO: better w/ table? -->
                                <!-- mouse over, explain what each term means -->
                                <button type="submit" class="btn btn-primary btn-xs col-md-12 control-button" id="btn_config">Set</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Middle panel: Visualization (Main plot)-->
            <div class="col-xs-12 col-md-6">
                <div class="panel-body">
                    <div id="main_plot" class="col-xs-12 col-md-12">
                    </div>
                </div>
                <!-- <div class="panel-group col-xs-12 col-md-5" id="expressionsRight" style="margin-left: -3%;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#expressionsRight" href="#exprQueue">
                                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                    Expressions in Priority Queue
                                </a>
                            </h4>
                        </div>
                        <div id="exprQueue" class="panel-collapse collapse">
                            <div class="panel-body">
                                List of expressions in priority queue.
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            
            <!--Right panel: Diagnostics-->
            <div class="col-xs-12 col-md-4">
                <div id="subplot_menu" class="col-xs-12 col-md-12">
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                            <a class="dropdown-toggle py-0" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                                Training curves
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1">Training curves</a></li>
                            </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="subplot" class="col-xs-12 col-md-12 subplot">
                </div>
                <div id="subplot2_menu" class="col-xs-12 col-md-12">
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                                    Reward Distribution
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1">Reward Distribution</a></li>
                            </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="subplot2" class="col-xs-12 col-md-12 subplot">
                </div>
                <!--extendTraces-->
            </div>

            <div class="panel-group col-xs-12 col-md-9" id="expressions" style="margin-left: 3em;margin-right: -0.5em;">
                <hr style="margin: 0px;">
                <h4>Dicovered Expression</h4>
                <!-- <div class="panel panel-default">
                    <div class="panel-heading" id="expressionsTitle">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#expressions" href="#exprTable">
                                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                Dicovered Expressions
                            </a>
                        </h5>
                    </div> -->
                    <div id="exprTable" class="panel-collapse collapse in">
                        <div class="panel-body col-md-8">
                            <table id="table_exprs" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" id="checkAll">
                                            <label class="form-check-label" for="checkAll">#</label>
                                        </th>
                                        <th>Expression</th>
                                        <th>Fitness</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="checkExpr1">
                                            <label class="form-check-label" for="checkExpr1">1</label>
                                        </td>
                                        <td>sin(x*2)</td>
                                        <td>0.7</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-body col-md-4">
                            <h5>TODO: tree, latex</h5>
                        </div>
                    </div>
                <!-- </div> -->
                <!-- <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#expressions" href="#exprQueue">
                                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                Expressions in Priority Queue
                            </a>
                        </h4>
                    </div>
                    <div id="exprQueue" class="panel-collapse collapse">
                        <div class="panel-body">
                            List of expressions in priority queue.
                        </div>
                    </div>
                </div> -->
            </div>
        </div>


        
            <!-- footer -->
            <footer class="footer" style="margin-top: 30px; text-align: right">
            <div class="container-fluid">
                <p class="text-muted">2020 International Joint Conference on Artificial Intelligence::Demonstrations Track</p>
            </div>
            </footer>

    </div>
    
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/dsr.js"></script>
</body>
</html>

<!-- TODO: separate templates -->
<!-- TODO: make plotly size responsive -->